<a href="https://colab.research.google.com/github/Elorro/Learn.Collab/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

name_column = ['Eleanor', 'Chidi', 'Tahani', 'Jason']
my_data = np.random.randint(low=0, high=101, size=(3,4))

df = pd.DataFrame(data=my_data, columns = name_column)

print("Aqui vemos los datos de Eleanor, Chidi, Tahani y Jason")
print(df)
s =  df['Jason'][0]+df['Tahani'][0]
print("\nEl primer dato de Tahani es %d" % df['Tahani'][0]+ " y de Jason es %d" % df['Jason'][0] + ". Luego, vemos que el primer dato de Janet es la suma de primer dato de Jason y Tahani, el cual es %d\n" % s)

df['Janet'] = df['Jason'] + df['Tahani']

print(df)

Aqui vemos los datos de Eleanor, Chidi, Tahani y Jason
   Eleanor  Chidi  Tahani  Jason
0       47     49      75     41
1       81     19      33     87
2       61     94      79     92

El primer dato de Tahani es 75 y de Jason es 41. Luego, vemos que el primer dato de Janet es la suma de primer dato de Jason y Tahani, el cual es 116

   Eleanor  Chidi  Tahani  Jason  Janet
0       47     49      75     41    116
1       81     19      33     87    120
2       61     94      79     92    171